<mat-toolbar color="primary">
    <span class="header-main-tab"><a routerLink="/choose-recipe">MyRecipies</a></span>
    <span class="spacer"></span>
    <span class="header-tab"><a mat-button matTooltip="View all available recipes" matTooltipClass="tooltip-class" routerLink="/list-recipies" routerLinkActive="active-router">All Recipies</a></span>
    <span class="header-tab"><a mat-button matTooltip="Find a specific recipe" matTooltipClass="tooltip-class" routerLink="/choose-recipe" routerLinkActive="active-router">Find Recipe</a></span>
    <span class="header-tab"><a mat-button matTooltip="Create a new Recipe" matTooltipClass="tooltip-class" routerLink="/create-recipe" routerLinkActive="active-router">New Recipe</a></span>


</mat-toolbar>
