

mat-form-field {
    width: 100%;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

mat-checkbox {
    padding-left: 5px;
    padding-right: 5px;

}


.checkbox-group {
    display: inline-block;
    padding-top: .5rem;


}

input[type="file"] {
    visibility: hidden;

}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}

mat-card {
    width: 50%;
    margin: 1rem auto;
}